:root {
    --main-color: #bd9c6c;
    --blue: #2c2a58;
    --black: #13131a;
    --bg: #2c2a58;
    --black2: #010103;
    --border: 0.2rem solid #bd9c6c;
  
    /* --border: 0.1rem solid rgba(255, 255, 255, 0.3); */
  }


  html, body {
    height: 100%;  
}


.page {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 5rem;
}


 

.about {
  height: calc(100vh - 81.6px) ;
  margin-top: 81.6px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/background/CSBackgroundBW.jpg) no-repeat center center fixed;
    background-size: cover;

}

.about h1 {
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    color: #fff;
    opacity: 0;
    animation: popIn 1s ease-out forwards;
    transition-delay: calc(.2s * var(--i));
}

@keyframes popIn {
    0% {
        transform: translateY(-70%);
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        transform: translateY(-20);
        opacity: 1;
        filter: blur(0);
    }
}

.about .message{
    width: 100%;
    position: absolute;
    top: 30%;
    opacity: 0;
    animation: popIn 1s ease-out forwards; 
    transition-delay: calc(.2s * var(--i));
}


.about .message p{
    color: #fff;
    margin-top: 4rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 5rem;
    line-height: 1.8;
}

.get-to span {
    color: var(--main-color);
}

.get-to p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-top: -1rem;
}


.get-to .box-container .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
    
  }

  .get-to .box-container .box {
    padding: 5rem;
    text-align: center;
   
  }

  .get-to .box-container .box img {
    width: 100%
   
  }
  
  .get-to .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
  }

  .get-to .box .row {
    display: flex;
    align-items: center;
    background: var(--blue);
    flex-wrap: wrap;
    border-bottom: .4rem solid #bd9c6c;
  }
  
  .get-to .box .row .image {
    flex: 1 1 45rem;
  }
  
  .get-to .box .row .image img {
    width: 100%;
    filter: grayscale(40%);
    transition: filter 0.3s ease-in-out;
  }

  .get-to .row .image img:hover {
    filter: grayscale(0%);
  }
  
  .get-to .box .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
  }
  
  .get-to .box .row .content h3 {
    font-size: 3rem;
    color: #fff;
  }
  
  .get-to .box .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
  }
  

  footer {
    background: var(--blue);
    text-align: center;
    margin-top: 5rem;
  }

 

  footer .share {
    padding: 1rem 0;
  }
  
  footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
  }
  
  footer .share a:hover {
    background-color: var(--main-color);
  }
  
  footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
  }
  
  footer .links a {
    padding: 0.7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
  }
  
  footer .links a:hover {
    background: var(--main-color);
  }
  
  footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
  }
  
  footer .credit span {
    color: var(--main-color);
  }

  

  

